<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="serveur">
            <h2><span jhiTranslate="myrestoApp.serveur.detail.title">Serveur</span> {{serveur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myrestoApp.serveur.restaurant">Restaurant</span></dt>
                <dd>
                    <div *ngIf="serveur.restaurant">
                        <a [routerLink]="['/restaurant', serveur.restaurant?.id, 'view']">{{serveur.restaurant?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/serveur', serveur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
