<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="menu">
            <h2><span jhiTranslate="myrestoApp.menu.detail.title">Menu</span> {{menu.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myrestoApp.menu.nom">Nom</span></dt>
                <dd>
                    <span>{{menu.nom}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.menu.description">Description</span></dt>
                <dd>
                    <span>{{menu.description}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.menu.price">Price</span></dt>
                <dd>
                    <span>{{menu.price}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.menu.plat">Plat</span></dt>
                <dd>
                    <span *ngFor="let plat of menu.plats; let last = last">
                        <a [routerLink]="['/plat', plat?.id, 'view' ]">{{plat.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.menu.carte">Carte</span></dt>
                <dd>
                    <div *ngIf="menu.carte">
                        <a [routerLink]="['/carte', menu.carte?.id, 'view']">{{menu.carte?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/menu', menu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
