<style>
        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: gray;
          color: white;
          text-align: right;
        }
        </style>


<div class="footer">
    <img src="../../../content/images/facebook.png" alt="Facebook">
    <img src="../../../content/images/instagram.png" alt="Instagram">
    <img src="../../../content/images/twitter.png" alt="Twitter">

</div>
