<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-gestionnaire-heading" jhiTranslate="myrestoApp.gestionnaire.home.createOrEditLabel">Create or edit a Gestionnaire</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!gestionnaire.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="gestionnaire.id" readonly />
                </div>

                <div class="form-group">
                    <label jhiTranslate="myrestoApp.gestionnaire.restaurant" for="field_restaurant">Restaurant</label>
                    <select class="form-control" id="field_restaurant" multiple name="restaurant" [(ngModel)]="gestionnaire.restaurants">
                        <option [ngValue]="getSelected(gestionnaire.restaurants, restaurantOption)" *ngFor="let restaurantOption of restaurants; trackBy: trackRestaurantById">{{restaurantOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myrestoApp.gestionnaire.superviseur" for="field_superviseur">Superviseur</label>
                    <select class="form-control" id="field_superviseur" name="superviseur" [(ngModel)]="gestionnaire.superviseur" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gestionnaireOption.id === gestionnaire.superviseur?.id ? gestionnaire.superviseur : gestionnaireOption" *ngFor="let gestionnaireOption of gestionnaires; trackBy: trackGestionnaireById">{{gestionnaireOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
