<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gestionnaire">
            <h2><span jhiTranslate="myrestoApp.gestionnaire.detail.title">Gestionnaire</span> {{gestionnaire.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myrestoApp.gestionnaire.restaurant">Restaurant</span></dt>
                <dd>
                    <span *ngFor="let restaurant of gestionnaire.restaurants; let last = last">
                        <a [routerLink]="['/restaurant', restaurant?.id, 'view' ]">{{restaurant.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.gestionnaire.superviseur">Superviseur</span></dt>
                <dd>
                    <div *ngIf="gestionnaire.superviseur">
                        <a [routerLink]="['/gestionnaire', gestionnaire.superviseur?.id, 'view']">{{gestionnaire.superviseur?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gestionnaire', gestionnaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
