<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="plat">
            <h2><span jhiTranslate="myrestoApp.plat.detail.title">Plat</span> {{plat.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myrestoApp.plat.nom">Nom</span></dt>
                <dd>
                    <span>{{plat.nom}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.plat.description">Description</span></dt>
                <dd>
                    <span>{{plat.description}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.plat.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'myrestoApp.Categorie.' + plat.type}}">{{plat.type}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.plat.prix">Prix</span></dt>
                <dd>
                    <span>{{plat.prix}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.plat.carte">Carte</span></dt>
                <dd>
                    <div *ngIf="plat.carte">
                        <a [routerLink]="['/carte', plat.carte?.id, 'view']">{{plat.carte?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plat', plat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
