<div>
    <h2 id="page-heading">
        <span jhiTranslate="myrestoApp.plat.home.title">Plats</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plat" [routerLink]="['/plat/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="myrestoApp.plat.home.createLabel">
            Create new Plat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="plats">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nom"><span jhiTranslate="myrestoApp.plat.nom">Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="myrestoApp.plat.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="myrestoApp.plat.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prix"><span jhiTranslate="myrestoApp.plat.prix">Prix</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="carte.id"><span jhiTranslate="myrestoApp.plat.carte">Carte</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let plat of plats ;trackBy: trackId">
                <td><a [routerLink]="['/plat', plat.id, 'view' ]">{{plat.id}}</a></td>
                <td>{{plat.nom}}</td>
                <td>{{plat.description}}</td>
                <td jhiTranslate="{{'myrestoApp.Categorie.' + plat.type}}">{{plat.type}}</td>
                <td>{{plat.prix}}</td>
                <td>
                    <div *ngIf="plat.carte">
                        <a [routerLink]="['../carte', plat.carte?.id, 'view' ]" >{{plat.carte?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/plat', plat.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/plat', plat.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'plat/'+ plat.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="plats && plats.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
