<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="restaurant">
            <h2><span jhiTranslate="myrestoApp.restaurant.detail.title">Restaurant</span> {{restaurant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myrestoApp.restaurant.nom">Nom</span></dt>
                <dd>
                    <span>{{restaurant.nom}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.restaurant.adresse">Adresse</span></dt>
                <dd>
                    <span>{{restaurant.adresse}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.restaurant.capacite">Capacite</span></dt>
                <dd>
                    <span>{{restaurant.capacite}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.restaurant.latitude">Latitude</span></dt>
                <dd>
                    <span>{{restaurant.latitude}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.restaurant.longitude">Longitude</span></dt>
                <dd>
                    <span>{{restaurant.longitude}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.restaurant.nbtables">Nbtables</span></dt>
                <dd>
                    <span>{{restaurant.nbtables}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.restaurant.carte">Carte</span></dt>
                <dd>
                    <div *ngIf="restaurant.carte">
                        <a [routerLink]="['/carte', restaurant.carte?.id, 'view']">{{restaurant.carte?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/restaurant', restaurant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
