<div>
    <h2 id="page-heading">
        <span jhiTranslate="myrestoApp.restaurant.home.title">Restaurants</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-restaurant"
            [routerLink]="['/restaurant/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="myrestoApp.restaurant.home.createLabel">
                Create new Restaurant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="chart-container" style="height: 20vw;">
        <canvas baseChart [datasets]="lineChartData" [options]="{fill: false, maintainAspectRatio: false}" [labels]="lineChartLabels"
            [chartType]="lineChartType" aria-label="Taux de remplissage"></canvas>
    </div>
    <div class="container-fluid bg-light rounded mt-2 p-2" *ngFor="let restaurant of restaurants ;trackBy: trackId">
        <div class="container-fluid" (click)="change(restaurant.nom)">
            <h2>{{restaurant.nom}}</h2><br />
            <div class="row">
                <div class="col">
                    <em>{{restaurant.adresse}}</em><br />
                    {{restaurant.capacite}} couverts<br />
                    Ce restaurant est identifié par le numéro {{restaurant.id}}
                </div>
            </div>
        </div>
    </div>
</div>