<div>
    <h2 id="page-heading">
        <span jhiTranslate="myrestoApp.services.home.title">Services</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-services" [routerLink]="['/services/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="myrestoApp.services.home.createLabel">
            Create new Services
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="services">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="myrestoApp.services.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="horaire"><span jhiTranslate="myrestoApp.services.horaire">Horaire</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="restaurant.id"><span jhiTranslate="myrestoApp.services.restaurant">Restaurant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let services of services ;trackBy: trackId">
                <td><a [routerLink]="['/services', services.id, 'view' ]">{{services.id}}</a></td>
                <td>{{services.date | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'myrestoApp.HoraireService.' + services.horaire}}">{{services.horaire}}</td>
                <td>
                    <div *ngIf="services.restaurant">
                        <a [routerLink]="['../restaurant', services.restaurant?.id, 'view' ]" >{{services.restaurant?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/services', services.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/services', services.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'services/'+ services.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="services && services.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
