<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="services">
            <h2><span jhiTranslate="myrestoApp.services.detail.title">Services</span> {{services.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myrestoApp.services.date">Date</span></dt>
                <dd>
                    <span>{{services.date}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.services.horaire">Horaire</span></dt>
                <dd>
                    <span jhiTranslate="{{'myrestoApp.HoraireService.' + services.horaire}}">{{services.horaire}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.services.restaurant">Restaurant</span></dt>
                <dd>
                    <div *ngIf="services.restaurant">
                        <a [routerLink]="['/restaurant', services.restaurant?.id, 'view']">{{services.restaurant?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/services', services.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
