<div>
    <h2 id="page-heading">
        <span jhiTranslate="myrestoApp.type.home.title">Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type" [routerLink]="['/type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="myrestoApp.type.home.createLabel">
            Create new Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="types">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="myrestoApp.type.typeu">Typeu</span></th>
            <th><span jhiTranslate="myrestoApp.type.restaurant">Restaurant</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let type of types ;trackBy: trackId">
                <td><a [routerLink]="['/type', type.id, 'view' ]">{{type.id}}</a></td>
                <td jhiTranslate="{{'myrestoApp.TypeRestaurant.' + type.typeu}}">{{type.typeu}}</td>
                <td>
                    <div *ngIf="type.restaurant">
                        <a [routerLink]="['../restaurant', type.restaurant?.id, 'view' ]" >{{type.restaurant?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/type', type.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/type', type.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'type/'+ type.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
