<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="type">
            <h2><span jhiTranslate="myrestoApp.type.detail.title">Type</span> {{type.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myrestoApp.type.typeu">Typeu</span></dt>
                <dd>
                    <span jhiTranslate="{{'myrestoApp.TypeRestaurant.' + type.typeu}}">{{type.typeu}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.type.restaurant">Restaurant</span></dt>
                <dd>
                    <div *ngIf="type.restaurant">
                        <a [routerLink]="['/restaurant', type.restaurant?.id, 'view']">{{type.restaurant?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type', type.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
