<div>
    <h2 id="page-heading">
        <span jhiTranslate="myrestoApp.restaurant.home.title">Restaurants</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-restaurant"
            [routerLink]="['/restaurant/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="myrestoApp.restaurant.home.createLabel">
                Create new Restaurant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <form>
        <div class="form-group row">
            <label for="filterName" class="col-sm-1 col-form-label">Nom</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="filterName">
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-1 pt-0">Type</legend>
                <div class="col-sm-4">
                    <div *ngFor="let type of typeRestaurant" class="form-check">
                        <input class="form-check-input" type="checkbox" name="filterType1" id="filterType1" value="matin"
                            checked>
                        <label class="form-check-label" for="filterType1">
                            {{ type | titlecase }}
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-1 pt-0">Horaire</legend>
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="filterHoraire1" id="filterHoraire1" value="matin"
                            checked>
                        <label class="form-check-label" for="filterHoraire1">
                            Matin
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="filterHoraire2" id="filterHoraire2" value="midi"
                            checked>
                        <label class="form-check-label" for="filterHoraire2">
                            Midi
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="filterHoraire3" id="filterHoraire3" value="soir"
                            checked>
                        <label class="form-check-label" for="filterHoraire3">
                            Soir
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div style="height: 800px;" leaflet [leafletOptions]="options" [leafletLayers]="layers">
    </div>
</div>