/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: initial;
    width: 500px;
    height: 1000px;
    background: url('../../content/images/logo_myresto.png');
}

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.col-md-3 img {
    text-align: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: content-box;
    border-radius: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    background-color: white;
}

// #image_gauche {
//     float:left; }

// #image_droite {
//     float:right; }

// #image_centre {
//     margin-left: 17cm;
// }

// /* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/logo_myresto.png') no-repeat center top;
        background-size: contain;
    }
}
