<div class="home">
    <div class="col-md-auto">
        <p class="img-text"><img src="../../content/images/logo_myresto.png"> </p>
    </div>
    <div class="col-md-auto">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}">
                    You are logged in as user "{{account.login}}". </span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register
                    a new account</a>
            </div>
        </div>
        <p> MyResto est une application pouvant être utilisé par différents utilisateurs. Premièrement, elle peut être
            utilisé par des gestionnaire voulant regarder les statistiques des restaurants qu'ils gèrent. Deuxièmement,
            par des serveur de restaurants voulant réaliser leur plan de salle suite aux réservations des clients en
            amont. Dernièrement, par des clients souhaitant reserver un restaurant pour une date future.
        </p>
        <div class="row">
            <div id="image1" class="col-md-auto">
                <p>
                    <img src="../../content/images/pizza.jpg" alt="Pizza" width="350"><br>
                    <FONT size="7pt"> Chez Toni </FONT><br>
                    138 Chemin de la Teura, 38190 Bernin<br>
                    €€<br>
                    ★★★★☆
                </p>
            </div>

            <div id="image2" class="col-md-auto">
                <p>
                    <img src="../../content/images/indien.png" alt="Indien" width="422"><br>
                    <FONT size="7pt"> Chez Apu </FONT><br>
                    Place Victor Hugo, 38000 Grenoble<br>
                    €€€<br>
                    ★★★★☆
                </p>
            </div>

            <div id="image3" class="col-md-auto">
                <p>
                    <img src="../../content/images/tacos.jpg" alt="Tacos" width="380"><br>
                    <FONT size="7pt"> Miam's </FONT><br>
                    06 rue chenoise, 38000 Grenoble<br>
                    €<br>
                    ★★★★★
                </p>
            </div>
            <div id="image4" class="col-md-auto">
                <p>
                    <img src="../../content/images/fondue.jpg" alt="Fondue" width="360"><br>
                    <FONT size="7pt"> Chez Dédé </FONT><br>
                    6 Rue du 11 Novembre, 38000 Grenoble<br>
                    €€€€<br>
                    ★★★★★
                </p>
            </div>
        </div>
    </div>
</div>