<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reservation">
            <h2><span jhiTranslate="myrestoApp.reservation.detail.title">Reservation</span> {{reservation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myrestoApp.reservation.nbCouverts">Nb Couverts</span></dt>
                <dd>
                    <span>{{reservation.nbCouverts}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.reservation.services">Services</span></dt>
                <dd>
                    <div *ngIf="reservation.services">
                        <a [routerLink]="['/services', reservation.services?.id, 'view']">{{reservation.services?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="myrestoApp.reservation.tables">Tables</span></dt>
                <dd>
                    <span *ngFor="let tables of reservation.tables; let last = last">
                        <a [routerLink]="['/tables', tables?.id, 'view' ]">{{tables.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.reservation.serveur">Serveur</span></dt>
                <dd>
                    <div *ngIf="reservation.serveur">
                        <a [routerLink]="['/serveur', reservation.serveur?.id, 'view']">{{reservation.serveur?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="myrestoApp.reservation.client">Client</span></dt>
                <dd>
                    <div *ngIf="reservation.client">
                        <a [routerLink]="['/client', reservation.client?.id, 'view']">{{reservation.client?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reservation', reservation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
