<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-reservation-heading" jhiTranslate="myrestoApp.reservation.home.createOrEditLabel">Create or edit a Reservation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!reservation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="reservation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myrestoApp.reservation.nbCouverts" for="field_nbCouverts">Nb Couverts</label>
                    <input type="number" class="form-control" name="nbCouverts" id="field_nbCouverts"
                        [(ngModel)]="reservation.nbCouverts" required min="1" jhiMin="1"/>
                    <div [hidden]="!(editForm.controls.nbCouverts?.dirty && editForm.controls.nbCouverts?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nbCouverts?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.nbCouverts?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.nbCouverts?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myrestoApp.reservation.services" for="field_services">Services</label>
                    <select class="form-control" id="field_services" name="services" [(ngModel)]="reservation.services" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="servicesOption.id === reservation.services?.id ? reservation.services : servicesOption" *ngFor="let servicesOption of services; trackBy: trackServicesById">{{servicesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="myrestoApp.reservation.tables" for="field_tables">Tables</label>
                    <select class="form-control" id="field_tables" multiple name="tables" [(ngModel)]="reservation.tables">
                        <option [ngValue]="getSelected(reservation.tables, tablesOption)" *ngFor="let tablesOption of tables; trackBy: trackTablesById">{{tablesOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myrestoApp.reservation.serveur" for="field_serveur">Serveur</label>
                    <select class="form-control" id="field_serveur" name="serveur" [(ngModel)]="reservation.serveur" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="serveurOption.id === reservation.serveur?.id ? reservation.serveur : serveurOption" *ngFor="let serveurOption of serveurs; trackBy: trackServeurById">{{serveurOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myrestoApp.reservation.client" for="field_client">Client</label>
                    <select class="form-control" id="field_client" name="client" [(ngModel)]="reservation.client" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === reservation.client?.id ? reservation.client : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
