<div (window:resize)="resizedWindows()">
    <h2 id="page-heading">
        <span jhiTranslate="myrestoApp.reservation.home.title">Reservations</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Services
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" *ngFor="let service of serviceList" (click)="serviceSelected(service)">{{service.id}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reservation" [routerLink]="['/reservation/new']">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span  jhiTranslate="myrestoApp.reservation.home.createLabel">
                    Create new Reservation
                    </span>
                        </button>
                    </div>
                </div>
                <div class="container-fluid" *ngFor="let reservation of reservations ;trackBy: trackId">
                    <div class="container-fluid border border-primary rounded m-2 p-2" (click)="reservationSelected(reservation)">
                        Id : {{reservation.id}}<br/>
                        Client : {{reservation.client.id}}<br/>
                        Couverts : {{reservation.nbCouverts}} <br/>
                        Couleur : <span id=reservationn{{reservation.id}} style="display: inline-block; width: 10px; height: 10px"> </span><br/>
                        <a class="btn btn-primary" data-toggle="collapse" href="#resaDetail{{reservation.id}}" role="button" aria-expanded="false" aria-controls="resaDetail">
                            More
                        </a>
                    </div>
                    <div class="collapse container-fluid" id="resaDetail{{reservation.id}}">Service : {{reservation.services.id}}</div>
                </div>
                <div *ngIf="reservations && reservations.length">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                    </div>
                </div>
            </div>
            <div class="col-sm" id="restaurantMapDiv" style="padding-right: 0px;padding-left: 0px;">
                <canvas id="restaurantMap" style="width: 100%; height : 100%;" (click)="clickOnCanvas($event)"></canvas>
            </div>
        </div>
    </div>
</div>
