<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-tables-heading" jhiTranslate="myrestoApp.tables.home.createOrEditLabel">Create or edit a Tables</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tables.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tables.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myrestoApp.tables.x" for="field_x">X</label>
                    <input type="number" class="form-control" name="x" id="field_x"
                        [(ngModel)]="tables.x" required/>
                    <div [hidden]="!(editForm.controls.x?.dirty && editForm.controls.x?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.x?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.x?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myrestoApp.tables.y" for="field_y">Y</label>
                    <input type="number" class="form-control" name="y" id="field_y"
                        [(ngModel)]="tables.y" required/>
                    <div [hidden]="!(editForm.controls.y?.dirty && editForm.controls.y?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.y?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.y?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
