<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tables">
            <h2><span jhiTranslate="myrestoApp.tables.detail.title">Tables</span> {{tables.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myrestoApp.tables.x">X</span></dt>
                <dd>
                    <span>{{tables.x}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.tables.y">Y</span></dt>
                <dd>
                    <span>{{tables.y}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tables', tables.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
