<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ouverture">
            <h2><span jhiTranslate="myrestoApp.ouverture.detail.title">Ouverture</span> {{ouverture.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myrestoApp.ouverture.day">Day</span></dt>
                <dd>
                    <span jhiTranslate="{{'myrestoApp.Jour.' + ouverture.day}}">{{ouverture.day}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.ouverture.creneau">Creneau</span></dt>
                <dd>
                    <span jhiTranslate="{{'myrestoApp.HoraireService.' + ouverture.creneau}}">{{ouverture.creneau}}</span>
                </dd>
                <dt><span jhiTranslate="myrestoApp.ouverture.restaurant">Restaurant</span></dt>
                <dd>
                    <div *ngIf="ouverture.restaurant">
                        <a [routerLink]="['/restaurant', ouverture.restaurant?.id, 'view']">{{ouverture.restaurant?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ouverture', ouverture.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
