<div>
    <h2 id="page-heading">
        <span jhiTranslate="myrestoApp.ouverture.home.title">Ouvertures</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ouverture" [routerLink]="['/ouverture/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="myrestoApp.ouverture.home.createLabel">
            Create new Ouverture
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ouvertures">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="myrestoApp.ouverture.day">Day</span></th>
            <th><span jhiTranslate="myrestoApp.ouverture.creneau">Creneau</span></th>
            <th><span jhiTranslate="myrestoApp.ouverture.restaurant">Restaurant</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ouverture of ouvertures ;trackBy: trackId">
                <td><a [routerLink]="['/ouverture', ouverture.id, 'view' ]">{{ouverture.id}}</a></td>
                <td jhiTranslate="{{'myrestoApp.Jour.' + ouverture.day}}">{{ouverture.day}}</td>
                <td jhiTranslate="{{'myrestoApp.HoraireService.' + ouverture.creneau}}">{{ouverture.creneau}}</td>
                <td>
                    <div *ngIf="ouverture.restaurant">
                        <a [routerLink]="['../restaurant', ouverture.restaurant?.id, 'view' ]" >{{ouverture.restaurant?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ouverture', ouverture.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ouverture', ouverture.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ouverture/'+ ouverture.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
