<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ouverture-heading" jhiTranslate="myrestoApp.ouverture.home.createOrEditLabel">Create or edit a Ouverture</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ouverture.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ouverture.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myrestoApp.ouverture.day" for="field_day">Day</label>
                    <select class="form-control" name="day" [(ngModel)]="ouverture.day" id="field_day"  required>
                        <option value="LUNDI">{{'myrestoApp.Jour.LUNDI' | translate}}</option>
                        <option value="MARDI">{{'myrestoApp.Jour.MARDI' | translate}}</option>
                        <option value="MERCREDI">{{'myrestoApp.Jour.MERCREDI' | translate}}</option>
                        <option value="JEUDI">{{'myrestoApp.Jour.JEUDI' | translate}}</option>
                        <option value="VENDREDI">{{'myrestoApp.Jour.VENDREDI' | translate}}</option>
                        <option value="SAMEDI">{{'myrestoApp.Jour.SAMEDI' | translate}}</option>
                        <option value="DIMANCHE">{{'myrestoApp.Jour.DIMANCHE' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.day?.dirty && editForm.controls.day?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.day?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myrestoApp.ouverture.creneau" for="field_creneau">Creneau</label>
                    <select class="form-control" name="creneau" [(ngModel)]="ouverture.creneau" id="field_creneau"  required>
                        <option value="MATIN">{{'myrestoApp.HoraireService.MATIN' | translate}}</option>
                        <option value="MIDI">{{'myrestoApp.HoraireService.MIDI' | translate}}</option>
                        <option value="SOIR">{{'myrestoApp.HoraireService.SOIR' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.creneau?.dirty && editForm.controls.creneau?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.creneau?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myrestoApp.ouverture.restaurant" for="field_restaurant">Restaurant</label>
                    <select class="form-control" id="field_restaurant" name="restaurant" [(ngModel)]="ouverture.restaurant" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="restaurantOption.id === ouverture.restaurant?.id ? ouverture.restaurant : restaurantOption" *ngFor="let restaurantOption of restaurants; trackBy: trackRestaurantById">{{restaurantOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
